@import 'normalize.css';

:root {
  --orange: #ff6500;
  --bg-nav: #1619245b;
  --blue: #161924;
  --d-blue: #161c28;
  --grey: #ffffff;
  --grey-h-2: #62636a;
  --grey-bg: #222831;
  --grey-bg-2: #31363F;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('../fonts/LibreFranklin-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--blue);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--d-blue);
  border: 2px solid var(--grey-h-2);
}

.sticky-section {
  position: sticky;
  top: 0;
  transition: .4s;
  overflow-y: auto;
}

nav {
  font-weight: normal;
}

a {
  text-decoration: none !important;
}

a:visited,
a:hover {
  color: inherit !important;
}

.r_1 {
  font-size: 0.858em;
  transition: .4s;
}

.info .fa-location-dot,
.info .fa-phone,
.info .fa-clock,
.info .fa-calendar-days {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  color: var(--orange);
}

.info a {
  margin: 0 10px;
  color: var(--grey);
}

.info .c_2 {
  margin: 0 10px;
}

.navbar-nav {
  color: white !important;
}

.r_2 {
  display: inherit;
  color: white !important;
  transition: .4s;
}

.r_3 {
  transition: .4s;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 10px;
}

.icon a {
  padding: 6px 8px;
  background-color: var(--orange);
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
}

.icon i {
  color: white;
}

.btn-close {
  background-color: var(--orange) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 1em auto !important;
  border-radius: .25rem;
  opacity: 1 !important;
}

#hero {
  background: url('/raz-auto/assets/img/5.jpg') no-repeat;
  background-size: cover;
}

.carousel-inner img {
  max-height: 300px;
  object-fit: cover;
}

.visually-hidden {
  transition: .4s;
}

.btn-warning {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}

section {
  min-height: 100vh;
  width: 100%;
  color: white;
}

#service,
#contact {
  background-color: var(--grey-bg);
  color: white;
}

#avis {
  background-color: var(--grey-bg-2);
}

.blur {
  filter: blur(2px);
}

.s_icon {
  color: var(--orange);
  font-size: 0.85em;
}

._r {
  width: 100%;
}

li {
  list-style: none;
}

header .row {
  background-color: var(--orange);
}

@media (min-width: 768px) {
  ._r {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .sticky-section {
    position: static !important;
    overflow-y: visible !important;
    max-height: none !important;
  }
}

._r {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

nav {
  z-index: 10;
  color: white;
  transition: .4s;
  background-color: transparent;
}

.scroll {
  box-shadow: inset 0 0 15px rgba(135, 135, 135, .1), 0 0 18px 3px rgba(0, 0, 0, .3);
  background-color: var(--bg-nav) !important;
  transition: .4s;
}

.scroll .r_1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  transition: .4s;
}

.scroll .r_2 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  transition: .4s;
}

.btn-open {
  border-radius: 10px;
  background-color: var(--orange);
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

.icon a:hover,
.btn-open:hover,
.btn-warning:hover {
  animation: lightning 1.5s 1;
  box-shadow: 0 0 20px var(--orange);
}

footer {
  background-color: var(--orange);
  height: 80px;
}

footer .icon a {
  background-color: white;
}

footer .icon i {
  color: var(--orange);
}

.navbar-toggler {
  border-color: var(--orange) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 1em auto !important;
  border-radius: .25rem;
  opacity: 1 !important;
  padding: 5px 10px !important;
}

.offcanvas-body,
.offcanvas-header {
  background-color: var(--blue) !important;
  opacity: 0.85;
}

.hexagon {
  --b: 2px;
  height: 200px;
  aspect-ratio: 1/cos(30deg);
  clip-path:
    polygon(0 50%, 50% -50%, 100% 50%, 50% 150%, 0 50%,
      var(--b) 50%,
      calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
      calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
      calc(100% - var(--b)) 50%,
      calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
      calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
      var(--b) 50%);
  background: var(--orange);
}

.h_c {
  width: 300px;
}

.h_c i {
  position: absolute;
  top: 64px;
  font-size: 70px;
  color: var(--orange);
}

.h_c .fa-screwdriver-wrench {
  left: 115px;
}

.h_c .fa-square-check {
  left: 120px;
}

.h_c .fa-star {
  left: 111px;
}

@keyframes lightning {
  0% {
    box-shadow: 0 0 5px var(--orange);
  }

  25% {
    box-shadow: 0 0 15px var(--orange), 0 0 25px var(--orange);
  }

  50% {
    box-shadow: 0 0 5px var(--orange);
  }

  75% {
    box-shadow: 0 0 15px var(--orange), 0 0 25px var(--orange), 0 0 50px #f1c40f;
  }
}